img {
    height: 210px;
    text-align: center;
    margin:auto;
    padding: 0px 10px;
    display:block;
    margin-top:5px;
}

.message {
    flex: 1 1 25%;
}

#all {
    display: flex;
    flex-direction: row;
}

#first {
    width:60%;
    margin-top: 55px;
}

#first img {
    height: 420px;
}

#other {
    width: 40%;
}

.alert {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    flex-grow: 0.5;
}

#first .alert {
    margin: 5px auto;
}

#other .alert {
    margin: 20px auto;
}

.texts {
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
}

span {
    flex: 1 1 0;
    text-align:center;
}

p {
    margin: 0px;
}

h3 {
    margin: 5px;
}

.bck-red {
    background-color: rgba(191, 33, 30, 0.75);
}

.bck-green {
    background-color: rgba(48, 176, 106, 0.75);
}

form p {
	margin: 25px 0;
	color: #34495E;
	position: absolute;
	top: 5px;
	right: 25px;
	}

[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
		left:0; top: -5px;
		width: 65px; height: 30px;
		background: #415480;
		border-radius: 15px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		transition: background-color .2s;
	}
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 0px; left: 5px;
	}

	/* on checked */
	[type="checkbox"]:checked + label:before {
		background:#34495E;
	}
	[type="checkbox"]:checked + label:after {
		background: #39D2B4;
		top: -1px; left: 40px;
	}

	[type="checkbox"]:checked + label .ui,
	[type="checkbox"]:not(:checked) + label .ui:before,
	[type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: -6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		transition: all .2s;
	}
	[type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 20px
	}
	[type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #39D2B4;
	}
	[type="checkbox"]:focus + label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}