<!DOCTYPE html>
<html>
<head>
 <title>History of MaixDuino detections</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/history.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
</head>
<body>
    <nav>
        <div id="menu-container">
                    <img src="{{ url_for('static', filename='images/menu.svg') }}" height="30px" alt="menu"></img>
                    <ul>
                        <a href="/"><li>Alertes</li></a>
                        <a href="/history"><li>Historique</li></a>
                        <a href="/manage"><li>Gérer l'historique</li></a>
                    </ul>
        </div>
    </nav>
    <h1>Historique de détection - MaixDuino</h1>
    <table>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">Heure</th>
            <th scope="col">Message</th>
            <th scope="col">Image</th>
        </tr>
        {% for line in history %}
         <tr>
             <td>{{line[0]}}</td>
             <td>{{line[1]}}</td>
             <td>{{line[2]}}</td>
             <td>{{line[3]}}</td>
             <td><img src="{{ url_for('serve_image', path=line[4]) }}" alt="Image"></td>
         </tr>
        {% endfor %}
    </table>
   </body>
</html>