<!DOCTYPE html>
<html>
<head>
 <title>Images from MaixDuino</title>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Alertes de présence - MaixDuino</h1>
    <div id="all">
        {% for image in images %}
        <div class="alert">
            <div class="texts">
                <span class="hour">
                <h3> Heure </h3>
                <p>{{ image[1] }}</p>
                </span>
                <span class="message">
                    <h3> Message </h3>
                    <p>{{ image[2] }}</p>
                </span>
            </div>
            <img src="{{ url_for('serve_image', path=image[3]) }}" alt="Image">
        </div>
        {% endfor %}
    </div>

    <script async defer src="{{ url_for('static', filename='scripts/colorize.js') }}"></script>

    <script async defer src="{{ url_for('static', filename='scripts/structureImages.js') }}"></script>

    <script async defer src="{{ url_for('static', filename='scripts/socketConnect.js') }}"></script>
</body>
</html>