<!DOCTYPE html>
<html>
<head>
 <title>Images from MaixDuino</title>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
</head>
<body>
    <nav>
        <div id="menu-container">
                    <img src="{{ url_for('static', filename='images/menu.svg') }}" height="30px" alt="menu"></img>
                    <ul>
                        <a href="/"><li>Alertes</li></a>
                        <a href="/history"><li>Historique</li></a>
                        <a href="/manage"><li>Gérer l'historique</li></a>
                    </ul>
        </div>
    </nav>

    <h1>Alertes de présence - MaixDuino</h1>
    <div id="all">
        {% for image in images %}
        <div class="alert">
            <div class="texts">
                <span class="hour">
                <h3> Heure </h3>
                <p>{{ image[1] }}</p>
                </span>
                <span class="message">
                    <h3> Message </h3>
                    <p>{{ image[2] }}</p>
                </span>
            </div>
            <img src="{{ url_for('serve_image', path=image[3]) }}" alt="Image">
        </div>
        {% endfor %}
    </div>

    <script async defer src="{{ url_for('static', filename='scripts/colorize.js') }}"></script>

    <script async defer src="{{ url_for('static', filename='scripts/structureImages.js') }}"></script>

    <script async defer src="{{ url_for('static', filename='scripts/socketConnect.js') }}"></script>
</body>
</html>