@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Quattrocento+Sans:ital@0;1&display=swap');

body {
    background-color: #1b2234;
}
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-align:center;
}

h1 {
    text-decoration: underline;
    font-size: 3em;
}

h2 {
    margin: 5px;
    text-align: center; 
}

* {
    font-family: 'Quattrocento Sans', sans-serif;
    color: #E3E4DB;
}

img {
    height: 210px;
    text-align: center;
    margin:auto;
    padding: 0px 10px;
    display:block;
    margin-top:5px;
}

.message {
    flex: 1 1 25%;
}

#all {
    display: flex;
    flex-direction: row;
}

#first {
    width:60%;
    margin-top: 55px;
}

#first img {
    height: 420px;
}

#other {
    width: 40%;
}

.alert {
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    flex-grow: 0.5;
}

#first .alert {
    margin: 5px auto;
}

#other .alert {
    margin: 20px auto;
}

.texts {
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
}

span {
    flex: 1 1 0;
    text-align:center;
}

p {
    margin: 0px;
}

h3 {
    margin: 5px;
}

.bck-red {
    background-color: rgba(191, 33, 30, 0.75);
}

.bck-green {
    background-color: rgba(48, 176, 106, 0.75);
}